/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

:root {
  --ifm-color-primary: #1f7a0e;
  --ifm-color-primary-dark: #1c6e0d;
  --ifm-color-primary-darker: #1a680c;
  --ifm-color-primary-darkest: #16550a;
  --ifm-color-primary-light: #22860f;
  --ifm-color-primary-lighter: #248c10;
  --ifm-color-primary-lightest: #289f12;
}

[data-theme='dark'] {
  --ifm-color-primary: #ffd600;
  --ifm-color-primary-dark: #e6c100;
  --ifm-color-primary-darker: #d9b600;
  --ifm-color-primary-darkest: #b39600;
  --ifm-color-primary-light: #ffda1a;
  --ifm-color-primary-lighter: #ffdc26;
  --ifm-color-primary-lightest: #ffe24d;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #e3ff64aa);
}

